In [2]:
import pandas as pd
from scipy.stats import wilcoxon

In [3]:
# Creating the DataFrame from the given dataset
data = {
    'Participant': [1, 2, 3, 4, 5,6,7,8,9,10],
    'Before therapy': [10, 8, 12, 15, 6,9,11,7,14,10],
    'After therapy': [7, 6, 10, 12, 5,8,9,6,12,8],
    'Difference': [-3, -2, -2, -3, -1,-1,-2,-1,-2,-2]
}
df = pd.DataFrame(data)

In [4]:
df

   Participant  Before therapy  After therapy  Difference
0            1              10              7          -3
1            2               8              6          -2
2            3              12             10          -2
3            4              15             12          -3
4            5               6              5          -1
5            6               9              8          -1
6            7              11              9          -2
7            8               7              6          -1
8            9              14             12          -2
9           10              10              8          -2

In [5]:

# Perform Wilcoxon signed-rank test
statistic, p_value = wilcoxon(df['Difference'])

# Print the results
print("Wilcoxon Signed-Rank Test:")
print("Test Statistic:", statistic)
print("p-value:", p_value)

# Interpretation
alpha = 0.05
if p_value < alpha:
    print("The therapy had a significant effect on anxiety levels.")
else:
    print("The therapy did not have a significant effect on anxiety levels.")

Wilcoxon Signed-Rank Test:
Test Statistic: 0.0
p-value: 0.001953125
The therapy had a significant effect on anxiety levels.